# Runtime artifacts
backups/
*.tar.gz
report.txt

# macOS system files
.DS_Store

# Not ignoring Logs generated during testing

# Editor files
.vscode/

# Temporary files
*.swp
*.swo
*~

questions.txt

demo_video_and_ss

host_logs/
host_reports/
host_backups/